.container {
    text-align: center;
}

.countdown {

    text-align: center;
    
}

.countdown-segment {

text-align: center;

}

.countdown-segment-number {

    text-align: center;
    
}

.countdown-segment-caption {

    text-align: center;
    
}
