

.background {
    /*display: grid;*/
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 65% ;
    grid-template-areas:
    "details"
    "stats";
    justify-items: center;
    align-items: center;
    color: #fffffc;
}

.container {
    text-align: center;
    color: black;
}

.details{
    text-align: center;
    color: black;
}

.stats {
    grid-area: stats;
    display: flex;
  justify-content: space-between;
}

.stats .col {
    width: 32%;
  }
  