
.modal {
  width: 100%;
  min-width: 200px;
  border-radius: 10px;
  border: 1px solid #aaaaa7;
  transition: 4s ease-out;
  z-index: 4;
 
}

.modal .modalTitle {
  padding: 10px;
  font-size: 30px;
}
.modal .content {
  padding: 10px;
}
