body, html {
    height: 100%;
}

table {
    border-collapse:collapse;
    width:90%;
    }
   th {
    border: 1px solid black;
    background-color: var(--blue);
    width: 30%;
    }
   td {
    border: 1px solid black;
    width: 20%;
    text-align: center;
    }
   caption {
    font-weight: bold
    }
    

th:hover {
  cursor: pointer;
}


