
.container {
    text-align: center;
    color: black;
    background-image: url("../../data/img2.jpg");
    height: 1000px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;

}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.name {
    font-size: 48px;
    font-family: 'Dancing Script', sans-serif;
}



body{
}
