.container {
    text-align: center;
    color: black;
}

body{
    background-image: url("../../data/img2.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
