
body, html {
    height: 100%;
}

.background {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto ;
    grid-template-areas:
    "mazal"
    "names"
    "countdown"
    "details"
    "form";
    justify-items: center;
    align-items: center;
    color: #fffffc;
}

.container {
    text-align: center;
    color: black;
}

.names {
    grid-area: name;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.name {
    font-size: 48px;
    font-family: 'Dancing Script', sans-serif;
}

.bsd {
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: 'Frank Ruhl Libre', serif;
}

.details {
    grid-area: details;
    font-size: 36px;
    font-family: 'Dancing Script', sans-serif;
}