body,
html {
  height: 100%;
  align-items: center;
  text-align: center;
}

.background {
  color: blue;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title"
    "presentation"
    "description"
    "button";
  color: #000000;
  display: inline-block;
  align-items: center;
}

.container {
  text-align: center;
  color: black;
  text-align: center;
}

.title {
  grid-gap: 10 px;
  grid-area: title;
  margin: 20px;
  font-size: 32px;
  font-weight: 800;
}

.presentation {
  grid-area: descriptions;
  margin: 20px;
  font-size: 16px;
  font-weight: 5npm00;
}

.description {
  grid-area: description;
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, 33%));
  grid-gap: 10 px;
  padding-bottom: 10 px;
  justify-content: center;
  background-color: transparent;
  max-width: 80%;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.descriptionSegment {
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "titleDescription"
    "imageDescription"
    "textDescription";
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  font-size: 30px;
  transition: all 0.2s ease-in;
  display: inline-block;
}

.descriptionSegment:hover {
  transform: scale(1.5);
}

.titleDescriptionSegment {
  grid-area: titleDescription;
  gap: 40px;
  color: blue;
}

.imageDescriptionSegment {
  grid-area: imageDescription;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  color: rgb(238, 224, 31);
}

.textDescription {
  grid-area: textDescription;
  color: #e02297;
}

.button {
  grid-area: button;
}
