.rightSide {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  max-width: 50%;
  align-items: center;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leftSide {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
  top: 25%;
  max-width: 50%;
  align-items: center;
  background-image: url(../../assets/images/img3.jpg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputText {
  position: center;
  color: #000000;
  padding: 10px;
  margin: 10px 010px;
  border: 0;
  border-bottom: 2px solid #3083c7;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.4);
}

.label {
  color: #3083c7;
}

.loginButton {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
}

.loginButton:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.homeButton {
  position: absolute;
  right: 10px;
  font-family: "Frank Ruhl Libre", serif;
  width: 60px;
  height: 40px;
  cursor: pointer;
  z-index: 2;
  border: 1px solid ivory;
}
