.form {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border-color: #3083c7;
    border-width: 20px;
    padding: 0 16px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    align-items: center;
    box-shadow:0 0 15px 4px rgba(0,0,0,1);
    box-sizing: border-box;
    color :#3083c7;

  }


  .inputText {

    position: center;
   color: #000000;
  padding: 10px;
  margin: 10px 010px;
  border : 0;
  border-bottom: 2px solid #3083c7;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.4);

  }

  .label {
       color: #3083c7;

  }

  .loginButton {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;

    /* usual styles */
    padding:10px;
    margin: 10px;
    border:none;
    background-color:#3083c7;
    color:#fff;
    font-weight: 600;
    border-radius: 10px;
    width:50%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.4);

  }

  submitButton:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
